name: Main Workflow
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install
        working-directory: ./Backend

      - name: Run my code
        run: node index.js
        working-directory: ./Backend
        env:
          API: ${{ vars.API }}
